@import url('https://fonts.googleapis.com/css2?family=Alata&family=Carter+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alata", sans-serif;
}

.vector1{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 1600px;
}

.vector1 img{
    width: 100%;
    height: 100%;
}